
{{/* boolean feature tags */}}
{{- $personal := true -}}{{/* true if this is my personal machine (not for work)*/}}
{{- $ephemeral := false -}}

{{- $hostname := .chezmoi.hostname -}}

{{- if eq $hostname "czsfpgspria2a13" -}}
{{-		$personal = false -}}
{{- else if eq $hostname "foo" -}} 
{{-		$personal = true -}}
{{- else -}}
{{-	$ephemeral = true -}}
{{- end -}}
{{- end -}}


{{- $osID := .chezmoi.os -}}
{{- if (and (eq .chezmoi.os "linux") (hasKey .chezmoi.osRelease "id")) -}}
{{- $osID = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{- $osID := .chezmoi.os -}}
{{- if (and (eq .chezmoi.os "linux") (hasKey .chezmoi.osRelease "id")) -}}
{{- $osID = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}



{{- $email := "kunt.lukas@gmail.com" -}}
{{- if $personal -}}
{{-		$email = "kuntl@merck.com" -}}
{{- end -}}

[data]
    email = {{ $email | quote }}
    personal = {{ $personal }}
    osid = {{ $osID | quote }}
    ephemeral = {{ $ephemeral }}
