# vim:fileencoding=utf-8:foldmethod=marker

confirm_os_window_close 0

include theme.conf

editor nvim

allow_remote_control yes

{{- if eq .chezmoi.os "darwin" }}
listen_on unix:$TMPDIR/kitty
{{- end }}

{{- if eq .chezmoi.os "linux" }}
listen_on unix:@mykitty
{{- end }}


#: Listen to the specified UNIX socket for remote control connections.
#: Note that this will apply to all kitty instances. It can be
#: overridden by the kitty --listen-on command line option, which also
#: supports listening on a TCP socket. This option accepts only UNIX
#: sockets, such as unix:${TEMP}/mykitty or unix:@mykitty (on Linux).
#: Environment variables are expanded and relative paths are resolved
#: with respect to the temporary directory. If {kitty_pid} is present,
#: then it is replaced by the PID of the kitty process, otherwise the
#: PID of the kitty process is appended to the value, with a hyphen.
#: See the help for kitty --listen-on for more details. Note that this
#: will be ignored unless allow_remote_control is set to either: yes,
#: socket or socket-only. Changing this option by reloading the config
#: is not supported.

